<footer>
  <div class="pie">
    <div class="pie__redes">
      <p>Siguenos en Redes</p>
      <div class="pie__iconos">
        <a title="Facebook" href="#" target="_blank"
          ><img class="icono" src="assets/facebook.svg" alt="Icono Facebook"
        /></a>
        <a title="Instagram" href="#" target="_blank"
          ><img class="icono" src="assets/instagram.svg" alt="Icono Instagram"
        /></a>
        <a title="X" href="#" target="_blank"
          ><img class="icono" src="assets/x.svg" alt="Icono WhatsApp"
        /></a>
      </div>
    </div>
    <div class="pie__derechos">
      <p>CoderHouse - Todos los derechos reservados - 2024</p>
    </div>
  </div>
</footer>
